* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#containerSearch {
  display: flex;
  border: 1px solid black;
  max-width: 560px;
  margin: 0 auto;
}

#search {
  width: 527px;
}

input {
  border: none;
}
