* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-clip: text;
  background-size: 400% 400%;
  color: transparent;
  font-size: 5.2rem;
  animation: gradient 15s ease infinite;

  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#containerSearch {
  display: flex;
  border: 1px solid black;
  max-width: 560px;
  margin: 0 auto;
  padding: 5px 8px 0 14px;
}

#containerSearch > i {
  padding-right: 13px;
}

#search {
  width: 527px;
  flex: 100%;
}

input {
  border: none;
}
